In [1]:
import json
from wordle_ai import *

In [2]:
with open("words.json", "r") as file:
    word_set = WordSet(json.load(file))

print(len(word_set.words))

12947

In [3]:
word_set.letter_frequency

   letter  count  frequency
7       e   6653   1.000000
4       s   6649   0.999399
5       a   5983   0.899294
15      o   4428   0.665564
1       r   4154   0.624380
2       i   3752   0.563956
16      l   3366   0.505937
10      t   3292   0.494814
6       n   2948   0.443108
17      u   2508   0.376973
21      d   2448   0.367954
13      y   2066   0.310537
0       c   2021   0.303773
18      p   2013   0.302570
3       m   1975   0.296859
11      h   1754   0.263640
20      g   1639   0.246355
14      b   1624   0.244100
12      k   1495   0.224711
9       f   1112   0.167143
8       w   1037   0.155870
19      v    693   0.104164
22      z    434   0.065234
25      j    291   0.043740
23      x    288   0.043289
24      q    112   0.016835

In [6]:
wordle_simulation = WordleSimulation(lambda: WordleAgentLetterFrequencySum(word_set))

win_ratio, hist = wordle_simulation.run_many(random.sample(list(word_set.words), 30), enable_progress_bar = True)

IntProgress(value=0, max=30)

In [7]:
hist

   turn_count  win_count  win_frequency
3           3          4       0.148148
1           4          9       0.333333
0           5          7       0.259259
2           6          7       0.259259

In [8]:
win_ratio

0.13333333333333333